#line{
    width:300px;
    border-bottom: 2px solid blue;
}
#a{
    width: 298px;
    height: 29px;
    border:1px solid gray;
    border-top:none;
}
#b{
    width:298px;
    height: 56px;
    border:1px solid gray;
    border-top:none;
}
#c{
    width:298px;
    height: 125px;
    border:1px solid gray;
    border-top:none;
}
#d{
    width:298px;
    height: 75px;
    border:1px solid gray;
    border-top:none;
}
#e{
    width:298px;
    height: 127px;
    border:1px solid gray;
    border-top:none;
}