.wrap{
    width: 960px;
    margin:0 auto;
}

/* -------------------------这里是头部区域----------------------------- */
.header{
    height:30px;
    background: #2f2f2f;
}
.header .headerMain{
    height: 30px;
    background: #8bcc00;
}
/* -------------------------这里是头部区域----------------------------- */

/* -----------------------这里是LOGO区域---------------------------- */

.logoBar{
    height:113px;
    border-bottom: 1px solid #0c0e0f;
}

/* -----------------------这里是LOGO区域---------------------------- */
